@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Overpass:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #fbfbfb;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header,
.features-header {
  background-color: #11346f;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
}
.header-text,
.header-items {
  margin: auto;
  font-weight: 500;
  font-size: 18px;
  color: white;
}
.navbar {
  background-color: #f7fdff;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo-img {
  height: 30px;
}

.center {
  display: flex;
  justify-content: space-between;
}
.center-text,
.center-text-bold {
  margin: 60px;
}
.center-text-bold {
  color: #11346f;
  font-weight: 600;
}
.center-text {
  color: #4b6693;
  font-weight: 400;
}
.btn-primary,
.btn-buy {
  background-color: #197aff;
  color: white;
  font-size: 14px;
  padding: 12px 36px;
  font-weight: 600;
  border: 1px solid #197aff;
  border-radius: 100px;
  cursor: pointer;
}
.main {
  position: relative;
  margin-top: 160px;
}
.main-header {
  color: #11346f;
  margin-left: 120px;
  margin-top: 40px;
  font-size: 50px;
  font-weight: 400;
}
.text-span {
  color: #197aff;
  font-weight: 600;
}
.arrow-img {
  transform: rotate(270deg);
  position: absolute;
  margin-left: 20px;
}
.vector-img {
  margin-left: 1020px;
}
.description {
  margin-left: 120px;
  width: 700px;
  font-size: 18px;
}
.container {
  display: flex;
}
.cards-container {
  margin-left: 120px;
  width: 840px;
  border: 1px solid #d1e1fd;
  border-radius: 10px;
  background-color: #f3f6fb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards {
  padding: 10px;
  text-align: center;
}
.card-title {
  font-weight: 600;
  color: #11346f;
}
.list-item {
  font-size: 14px;
}
.btn-buy {
  padding: 18px 60px;
  margin-left: 120px;
  margin-top: 30px;
  font-size: 18px;
}
.massage-img {
  margin-left: 260px;
  width: 440px;
}
.btn-buy-secondary {
  padding: 10px 40px;
  margin-top: 20px;
  margin-left: 180px;
  border: 1px solid #e2ecf5;
  border-radius: 100px;
  background-color: #e2ecf5;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.buttons {
  float: left;
}
.customer-review {
  max-width: 600px;
  max-height: 120px;
  border: 1px solid #d4e3fd;
  border-radius: 100px;
  float: right;
  margin-top: 100px;
  background-color: #f9fafb;
  margin-right: 60px;
  display: flex;
  gap: 20px;
}
.person {
  width: 90px;
  height: 90px;
  margin-top: 9px;
  margin-left: 15px;
}
.review-comment {
  font-size: 16px;
  font-weight: 600;
  width: 66%;
}
.review-info {
  display: flex;
}
.review-name {
  display: flex;
  justify-content: flex-start;
}
.reviewer-name {
  color: #787979;
  margin-left: 4px;
}
.reviewer-info {
  margin-left: 40px;
}
.verified-buyer {
  font-weight: 600;
  color: #197aff;
}

.features {
  background-image: linear-gradient(to bottom right, #9ec3ff, #4e97ff);
  margin-top: 350px;
}
.features-header {
  height: 100px;
  justify-content: space-around;
}
.features-items {
  display: flex;
  align-items: center;
}
.header-items {
  padding: 10px;
  border: 1px solid #11346f;
  background-color: white;
  border-radius: 100%;
}
.features-header-text {
  font-weight: 600;
  color: white;
  font-size: 18px;
  margin-left: 10px;
}
.features-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.features-main-header,
.features-main-header2 {
  font-size: 40px;
  color: #11346f;
}
.features-main-header2 {
  font-weight: 700;
  color: #ffffff;
}
.features-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  min-height: 90vh;
}
.card-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.features-card-item,
.features-card-item-center {
  width: 480px;
  border-radius: 20px;
  height: 700px;
  background-color: #d2e3fd;
  border: 1px solid #197aff;
}
.features-card-item-center {
  background-image: linear-gradient(180deg, #fdfeff, #d7e6ff);
}
.features-card-image,
.features-card-image3,
.features-card-image5 {
  width: 200px;
  height: 140px;
  position: absolute;
  top: -30px;
}
.features-card-image3 {
  width: 300px;
}
.features-card-image5 {
  width: 400px;
}
.card-info {
  margin-top: 150px;

  text-align: center;
}
.card-header,
.card-price {
  font-size: 30px;
  font-weight: 600;
  color: #11346f;
}
.card-price-info {
  display: flex;
  flex-direction: column;
}
.card-price {
  font-weight: 700;
}
.card-shipping {
  font-size: 14px;
  font-weight: 600;
  color: #11346f;
}
.card-shipping-info,
.card-shipping-info4 {
  display: flex;
  justify-content: center;
}
.money-back {
  margin-left: 10px;
  color: #11346f;
  font-weight: 600;
}
.btn-card {
  background-color: #197aff;
  color: white;
  font-size: 20px;
  margin-top: 40px;
  padding: 20px 40px;
  font-weight: 600;
  width: 86%;
  border: 1px solid #197aff;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0px 1px 18px 0px rgba(141, 188, 254, 0.75);
  -webkit-box-shadow: 0px 1px 18px 0px rgba(141, 188, 254, 0.75);
  -moz-box-shadow: 0px 1px 18px 0px rgba(141, 188, 254, 0.75);
}
.badge-container {
  display: flex;
  justify-content: center;
}
.badge {
  width: 200px;
  height: 40px;
  border-radius: 100px;
  background-color: #57ac73;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.badge-red {
  background-color: #ac5780;
}
.vector-svg {
  position: absolute;
  margin-top: 70px;
  left: 200px;
}
.arrow-svg {
  position: absolute;
  width: 100px;
  margin-left: 120px;
  top: 100px;
}
.card-price-shipping {
  display: flex;
  justify-content: space-around;
}
del {
  color: #6a7fa4;
}
.card-shipping-info1 {
  width: 88%;
  margin: auto;
}
.card-shipping-info2 {
  border: 1px solid #aeccff;
  border-radius: 36px;
  background-color: #f0f6ff;
  width: 100%;
}
.card-shipping-info-items {
  display: flex;
  justify-content: space-around;
  border: 1px solid #aeccff;
  border-radius: 100px;
}
.card-shipping-info-item-price {
  background-color: #bff5be;
  border: 1px solid #99d298;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  z-index: 1;
}
.vector-img2 {
  margin-left: 800px;
  width: 300px;
}
.reviews {
  display: flex;
  justify-content: space-around;
  gap: 1200px;
}
.reviews-span {
  color: #11346f;
  font-weight: 700;
}
.btn-review {
  border: 2px solid #213786;
  color: #213786;
  padding: 10px 26px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  background-color: transparent;
}
.review-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  transform: translate(0px);
}

.review-card {
  min-height: 520px;
  max-height: 520px;
  width: 320px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  background-color: #ffffff;
}
.reviewer-name-span {
  color: #11346f;
  font-weight: 600;
  font-size: 18px;
}
.faq {
  background-color: #11346f;
  margin-top: 50px;
}
.vector-img3 {
  margin-left: 560px;
  width: 260px;
}
.faq-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 90vh;
}

.accordion-container {
  padding: 3rem;
}

.accordion {
  margin: 20px;
  border: 1px solid #31548e;
  border-radius: 10px;
  min-width: 900px;
  color: white;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: #194081;
  transition: background-color 0.3s;
}
.accordion-header button {
  color: #aeccff;
  border: none;
  background: transparent;
  font-size: 30px;
}
.accordion-header,
.accordion-body {
  padding: 10px;
}
.accordion-body {
  display: none;
}

.accordion.active .accordion-body {
  display: block;
}
.accordion-title {
  font-weight: 600;
}
#cardNavigation {
  display: none;
}
@media screen and (max-width: 390px) {
  .landing,
  .faq,
  .reviews-section,
  .features {
    max-width: 390px;
  }
  .header {
    width: 390px;
    display: flex;
    align-items: center;
  }
  .header-text {
    font-size: 12px;
  }
  .navbar {
    width: 390px;
  }
  .center {
    display: none;
  }
  .right {
    display: none;
  }
  .main {
    width: 390px;
  }
  .vector-img {
    margin-left: 50px;
    width: 100px;
  }
  .main-header {
    margin-left: 10px;
    width: 150px;
    font-size: 24px;
  }
  .arrow-img {
    transform: rotate(90deg);
  }
  .description {
    width: 350px;
    margin-left: 20px;
  }
  .container {
    width: 390px;
  }
  .cards-container {
    margin-left: 10px;
    width: 370px;
    height: 160px;
  }
  .cards img {
    width: 30px;
    height: 30px;
  }
  .card-title {
    font-size: 14px;
  }
  .list-item {
    display: none;
  }

  .massage-img {
    width: 190px;
    height: 100px;
    position: absolute;
    top: 170px;
    left: -90px;
  }
  .buttons {
    width: 390px;
  }
  .btn-buy {
    width: 370px;
    margin: 10px;
    font-size: 14px;
  }
  .btn-buy-secondary {
    width: 280px;
    margin-left: 55px;
    margin-top: 10px;
  }
  .features {
    margin-top: 300px;
  }
  .customer-review {
    max-width: 390px;
    margin-right: 0px;
    margin-top: 20px;
    float: left;
    gap: 10px;
    max-height: 100px;
  }
  .person {
    width: 80px;
    height: 80px;
  }
  .review-comment {
    font-size: small;
    width: 100%;
  }
  .review-name {
    width: 40%;
  }
  .review-name img {
    width: 80px;
    height: 20px;
  }
  .reviewer-name {
    font-size: 12px;
  }
  .reviewer-info {
    width: 56%;
  }
  .verified-buyer {
    font-size: 10px;
  }
  .features-header {
    width: 390px;
  }
  #item3 {
    display: none;
  }
  .features-items {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .features-items img {
    width: 20px;
    height: 20px;
  }
  .features-header-text {
    margin: 0;
    text-align: center;
    font-size: 12px;
  }
  .features-main {
    width: 390px;
  }
  .features-main-header {
    font-size: 28px;
  }
  .features-main-header2 {
    font-size: 24px;
  }
  .white-vector {
    width: 200px;
  }
  .features-cards {
    width: 360px;
    flex-direction: column;
    margin: 15px;
  }
  .money-back {
    font-size: 14px;
  }
  .card-container {
    margin-top: 60px;
  }
  .card-header span {
    font-size: 28px;
  }
  .arrow-svg {
    margin-left: 70px;
  }
  .vector-svg {
    margin-left: -50px;
  }
  .card-shipping-info-items {
    height: 70px;
  }
  .card-shipping-info-item-price {
    font-size: 12px;
    max-height: 70px;
  }
  .faq-container {
    max-width: 390px;
    flex-direction: column;
  }
  .faq-container img {
    width: 340px;
    height: 200px;
  }
  .faq .main .main-header {
    text-align: center;
    width: 100%;
    margin-left: 0px;
    font-size: 36px;
  }
  .reviews-section .main .main-header {
    text-align: center;
    width: 100%;
    margin-left: 0px;
    font-size: 30px;
  }
  .accordion-container {
    padding: 0px;
  }
  .accordion-container,
  .accordion-header,
  .accordion {
    width: 350px;
  }
  .accordion {
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .accordion {
    min-width: 350px;
    max-width: 350px;
  }
  .reviews {
    gap: 0px;
  }
  .review-number {
    display: flex;
    flex-direction: column;
  }
  .vector-img2,
  .vector-img3 {
    margin-left: 0;
  }
  .vector-img2 {
    width: 200px;
    margin-bottom: 20px;
  }
  #reviewcard1 {
    display: none;
  }
  .review-cards {
    justify-content: start;
    margin-left: 30px;
    transition: 0.5s;
    gap: 20px;
    overflow-x: hidden;
    max-width: 380px;
    min-height: 600px;
  }
  #cardNavigation {
    display: contents;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .cardButton1 {
    color: #197aff;
  }
  #cardNavigation button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #cbced6;
  }
}
